
/doc
/src/sources/app-rtl
/fpc
script_sed_test1.sh
/bin
*.a
*.res
*.o
*.ppu
core.tar.gz
src/test/fpc_rtl.dll
src/test/test1.exe
src/test/X
src/test/Y
src/test/Z
src/units/fpc-qt/Qt_Dialogs.s
src/units/fpc-qt/Qt_String.s
src/units/fpc-qt/symbols.s
src/units/fpc-qt/system.s
src/units/fpc-rtl/fpc_rtl.s
src/units/fpc-rtl/RTL_Memory.s
src/units/fpc-rtl/RTL_Memory_ppas.bat
/src/units
src/test/MyLibrary_exports.txt
src/sources/fpc-qt/Qt_String.s
src/sources/fpc-sys/sysinit.s
src/sources/fpc-sys/system.s
src/test/test1.s
src/test/test.s
src/test/ppas.bat
src/test/out/testdll.txt
src/test/out/testexe.txt
src/test/impFPC_RTL.def
src/test/fpc_rtl.def
src/test/fpc.txt
src/sources/fpc-sys/system.pas.bak
src/sources/fpc-sys/FPC_System.pas.bak
src/sources/fpc-rtl/RTL_Exception.pas.bak
src/sources/fpc-win/FPC_Exception.pas.bak
